body {
  background-color: rgba(203,200,149, 0.4);
  margin-left: 1rem;
  margin-bottom: 3rem;
}

header {
  display: flex;
  justify-content: space-around;
  /*margin-bottom: 1%/* margin goes away at a certain point, need an @media query */
  margin-bottom: 20px;
}

input[type=text],input[type=password] {
  border: none;
  margin: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}
/*input[type=text]:focus,input[type=password]:focus {
  border: 3px solid #555;
}*/

form {
  font-family: Helvetica, sans-serif;
}

input[type=submit],.module-card-button {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #452804;
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  margin: 0.25rem;
}

input[type=submit]:active,.module-card-button:active {
  background-color: rgba(29,40,4, 1);
}

.welcome  { /* <a> tags inside the .welcome class */
  display: inline-block;
  font-family: 'Josefin Slab', serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.title { /* The site's name and tagline */
  color: #452804;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  font-weight: 100;
  justify-content: center;
  text-align: center;
  line-height: 90%;
  margin: 2rem;
}

.title a {
    text-decoration: none;
    color: #000000;
}

.middle {
  text-decoration: none;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  box-sizing:border-box;
}

h3 {

}
.home-image { /* image on the home state */
  min-height: 100%;
  /*height: auto;*/
  min-width: 1024px;
  box-shadow:  10px 10px 10px 10px #888;
  margin-top: 1%;
  width: 100%;
}

.new-destination, .search {
  color: #452804;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1em;
  font-weight: 100;

}

form {
  padding: -0.5rem;
}

#signup, #login, #demo, h3 {
  color: #452804;
  /*display: inline;*/
  font-family: 'Josefin Slab', serif;
  font-size: 1.2em;
  text-decoration: none;
  padding: 0 auto;
}


footer {
  background-color: rgba(203,192,140, 0.9);
  position: fixed;
  right: 0;
  bottom: 0;
  color: #452804;
  left: 0;
  padding: 0.3rem;
  /*background-color: #efefef;*/
  text-align: center;
  font-family: 'Josefin Slab', serif;
}
