body {
  background-color: rgba(203,200,149, 0.5);
  margin: 3rem;
  margin-bottom: 8rem;
}

header {
  display: flex;
  justify-content: space-around;
  /*margin-bottom: 1%/* margin goes away at a certain point, need an @media query */*/
}

.welcome a { /* <a> tags inside the .welcome class */
  display: inline-block;
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
  font-weight: 400;
}
/*.welcome img{ /* <img> tags inside the .welcome class */
  /*height: 55%;
  width: 55%;
}*/


.title { /* The site's name and tagline */
  color: #452804;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  font-weight: 100;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  line-height: 60%;
}

h3 {

}
.home-image { /* image on the home state */
  width: 100%;
  min-height: 100%;
  min-width: 1024px;
  box-shadow:  10px 10px 10px 10px #888;
  margin-top: 1%;
}

form {
  padding: 0.5rem;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  background-color: #efefef;
  text-align: center;
}
